.app{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.toolbar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 150px;
}
.toolbar_row{
    padding-top: 20px;
}
.canvas_body{
flex-shrink: 8;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    grid-auto-rows: auto 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 300px;
    border: 1px solid gray;
    flex-grow: 1;
}
.image_icon{
    border: 1px solid cornflowerblue;
    width: 150px;
    height: 150px;
}
.image{
    width: 150px;
    height: 150px;
}